---
import Layout from "../layouts/Layout.astro";
import CardItem from "../components/CardItem.astro";
import clothing1 from "../images/potriait-clothing-1.jpeg";
import clothing2 from "../images/potriait-clothing-2.jpeg";
import clothing3 from "../images/potriait-clothing-3.jpeg";
import jewellery1 from "../images/potriait-jewellery-1.jpeg";
import shoe from "../images/potriait-shoe-1.jpeg";
import wfClothing1 from "../images/clothing-2.jpeg";
import wfClothing2 from "../images/clothing-4.jpeg";
---

<Layout>
  <main class="my-16">
    <section
      class="banner bg-cover bg-no-repeat bg-center h-[200px] sm:h-[500px] flex justify-center items-center m-8"
    >
      <h1 class="text-white text-2xl text-center font-bold">
        Welcome to .ideology
      </h1>
    </section>
    <section class="grid grid-cols-2 sm:grid-cols-5 gap-4 px-8">
      <CardItem title="women" image={clothing1} />
      <CardItem title="men" image={clothing2} />
      <CardItem title="shirt" image={clothing3} />
      <CardItem title="jewellery" image={jewellery1} />
      <CardItem title="shoes" image={shoe} />
    </section>
    <section
      class="banner-wf bg-cover bg-no-repeat bg-top h-[250px] sm:h-[1000px] flex justify-start items-end m-8"
    >
      <h1 class="text-blakc text-2xl text-center font-semibold p-5">
        Fall-Winter 2023
      </h1>
    </section>
    <section class="grid grid-cols-2 gap-4 px-8">
      <a href="#"><img src={wfClothing1} alt="" /></a>
      <a href="#"><img src={wfClothing2} alt="" /></a>
    </section>
  </main>
</Layout>

<style>
  .banner {
    background-image: url("../images/clothing-1.jpeg");
  }
  .banner-wf {
    background-image: url("../images/clothing-3.jpeg");
  }
</style>
